{% load mptt_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<title>{{ title }}</title>

<!-- CSS Files -->
<link type="text/css" href="/static/css/base.css" rel="stylesheet" />
<link type="text/css" href="/static/css/{{ css_type }}.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="static/js/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/js/jit-yc.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript">

var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);
})();

var Log = {
  elem: false,
  write: function(text){
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }
};


function init(){
    //init data
				{% comment %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>	
				{% endcomment %}
    var json = {
		"id": "0",
		"name": "Agendy vedené v organizaci",
		"data": {"type":" ",},
		"type": " ",
		"children": [
			{% recursetree nodes %}
			{
			"id": "{{ node.id }}",
			"name": "{{ node.name }}",
			"data": {
				"date_from": "{{ node.date_to }}",
				"status": "{{ node.get_status_display }}",
				"agenda": "{{ node.parent }}",
				"relation": "Část agendy",
				"relation_back": "nadřazená agenda",
				"color": "#{{ node.color }}",
				"type": "Agenda",
			},
			"children": [
				{% if not node.is_leaf_node %}
					{{ children }}
				{% endif %}
				{% for partis in node.partis_set.all %}
				{% if partis.status != 70 %}
				{
					"id": "pis_{{ partis.id }}",
					"name": "{{ partis.application.information_system.name }} - {{ partis.application.name }} - {{ partis.name }}",
					"data": {
						"agenda": "{{ partis.agenda }}",
						"relation": "Informční systém řešící agendu",
						"relation_back": "řeší tuto agendu",
						"status": "{{ partis.get_status_display }}",
						"color": "#{{ partis.agenda.color }}",
						"type": "Informační systém",
					},
					"children": []
				},
				{% endif %}
				{% endfor %}
			]
			},

			{% endrecursetree %}
		],
	};
    //end
    var infovis = document.getElementById('infovis');
    var w = infovis.offsetWidth - 50, h = infovis.offsetHeight - 50;
    
    //init Hypertree
    var ht = new $jit.Hypertree({
      //id of the visualization container
      injectInto: 'infovis',
      //canvas width and height
      width: w,
      height: h,
      //Change node and edge styles such as
      //color, width and dimensions.
      Node: {
          dim: 9,
          color: "#f00"
      },
      Edge: {
          lineWidth: 2,
          color: "#088"
      },
      onBeforeCompute: function(node){
          Log.write("centering");
      },
      //Attach event handlers and add text to the
      //labels. This method is only triggered on label
      //creation
      onCreateLabel: function(domElement, node){
          domElement.innerHTML = node.name;
          $jit.util.addEvent(domElement, 'click', function () {
              ht.onClick(node.id, {
                  onComplete: function() {
                      ht.controller.onComplete();
                  }
              });
          });
      },
      //Change node styles when labels are placed
      //or moved.
      onPlaceLabel: function(domElement, node){
          var style = domElement.style;
          style.display = '';
          style.cursor = 'pointer';
          if (node._depth <= 1) {
              style.fontSize = "0.8em";
          /*    style.color = "#ddd";*/

          } else if(node._depth == 2){
              style.fontSize = "0.7em";
          /*    style.color = "#555";*/

          } else {
              style.fontSize = "0.6em";
    /*          style.display = 'none';*/
          }
		  style.color = node.data.color;

          var left = parseInt(style.left);
          var w = domElement.offsetWidth;
          style.left = (left - w / 2) + 'px';
      },
      
      onComplete: function(){
          Log.write("Hotovo");
          
          //Build the right column relations list.
          //This is done by collecting the information (stored in the data property) 
          //for all the nodes adjacent to the centered node.
          var node = ht.graph.getClosestNodeToOrigin("current");
          var html = "<i>"+ node.data.type +"</i><h4>" + node.name + "</h4><b>Obsahuje vazby:</b>";
          html += "<ul>";
          node.eachAdjacency(function(adj){
              var child = adj.nodeTo;
              if (child.data) {
                  var rel = (child.data.agenda == node.name) ? child.data.relation : node.data.relation_back;
				  if (!rel) {
				  	rel = "agenda či souhrn agend"
				  }
				  if (child.id != "0") {
                  html += "<li><b>" + child.name + " " + "</b><br/><div class=\"relation\">(" + rel + ")</div>";
				  html += "<i>"+child.data.status+"</i>";
				  html += "</li>";
				  }
              }
          });
          html += "</ul>";
          $jit.id('inner-details').innerHTML = html;
      }
    });
    //load JSON data.
    ht.loadJSON(json);
    //compute positions and plot.
    ht.refresh();
    //end
    ht.controller.onComplete();
}
</script>
</head>

<body onload="init();">
<div id="container">

<div id="left-container">



        <div class="text">
        <h4>{{ title }}</h4> 
            {{ description|safe }}
        </div>

        <div id="id-list"></div>


<!--div style="text-align:center;"><a href="example1.code.html">See the Example Code</a></div-->
</div>

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
</div>
</body>
</html>
