{% load i18n %}
<!--script type="text/javascript">var go_from_select = function(opt) { window.location = window.location.pathname + opt };</script-->
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
<select style="width: 95%;" onchange="window.location = window.location.pathname + this.options[this.selectedIndex].value">
{% for choice in choices %}
	<option{% if choice.selected %} selected="selected"{% endif %} value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
{% endfor %}
</select>
</ul>
