{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
			{% if app.name == "Schemais" %}
				{% with name="SchemaIS" %}
		            <a href="{{ app.app_url }}" class="section" title="{% blocktrans %}Models in the {{ name }} application{% endblocktrans %}">
        	        {% blocktrans %}{{ name }}{% endblocktrans %}
				{% endwith %}
			{% elif app.name == "References" %}
				{% with name="Číselníky" %}
		            <a href="{{ app.app_url }}" class="section" title="{% blocktrans %}Models in the {{ name }} application{% endblocktrans %}">
        	        {% blocktrans %}{{ name }}{% endblocktrans %}
				{% endwith %}
			{% else %}
	            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
    	            {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
        	    </a>
			{% endif %}
        </caption>
        {% for model in app.models %}
            <tr>
				<th scope="row">
				{% ifequal model.name "Legislativní tituly zavedeni agend" %}
    	        	{% if model.admin_url %}<a href="{{ model.admin_url }}">1. {{ model.name }}</a>{% else %}1. {{ model.name }}{% endif %}
				{% else %}
            		{% if model.admin_url %}
                		<a href="{{ model.admin_url }}">{{ model.name }}</a>
		            {% else %}
		                {{ model.name }}
	       		    {% endif %}
				{% endifequal %}
				</th>

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}

	{% ifequal title "Správa webu" %}
        <div class="module">
        <table>
        <caption>Grafy</caption>
            <tr><th scope="row"><a href="{% url 'graph_agenda' %}">Graf agend</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="{% url 'graph_is' %}">Graf informačních systémů</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="{% url 'graph_relations' %}">Graf vazeb mezi informačními systémy</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="{{ STATIC_URL }}schemais.png">Relační schema nástroje SchemaIS</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
        </div>
	{% endifequal %}


{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
